@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-primary: #2563eb;
  --color-surface: #f8f9ff;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9ff;
  }
}
